
.App {
  text-align: center;
  width:100%;
  background-color: #f19743;
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(3px + 2vmin);
  color:rgb(146, 5, 5);
  background-image: url("/img/goku-blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 5vmin;
  pointer-events: none;
  
  
}

/* .App-header {
  background-color: #e08d2e;
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(175, 13, 148);
} */

.App-link {
  color: #8561fb;
}


.navbar button {
  margin: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: aliceblue;
}

.about-me {
  
  background-color: rgba(115, 199, 238, 0.555);
}
.project {
  width: 30vmax;
  height: 40vmax;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(115, 199, 238, 0.555);
  
  overflow: hidden;
  white-space: initial;
 
  margin: 10px;
  padding: 10px;
}
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}




.project img {
  width: 30vmax;
  height: 20vmax;
}
.project p {
  text-align: justify;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  text-align: initial;
}

ol li{
  list-style-type: none;
  width: 60%;
  text-align: initial;
  
 
}

.education {
  background-color: rgba(115, 199, 238, 0.555);
}
.why-coding {
  background-color: rgba(115, 199, 238, 0.555);
}
.hobbies {
  background-color: rgba(115, 199, 238, 0.555);
}
.art-gallery {
  background-color: rgba(115, 199, 238, 0.555);
}
.cv {
  background-color: rgba(115, 199, 238, 0.555);
}
.contact-me {
  background-color: rgba(115, 199, 238, 0.555);
}
@media (min-height: 300px) {
  .navbar  {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
  }
}

@media (max-width: 600px){
  .navbar button{
    color: white;
  }
 
}
.art-gallery img {
  width: 20vmax;
  height: 20vmax;
}
/* @media (min-width: 400px){
  .App div {
    width: 85%;
    margin: 100px;
  }
} */


