

.App {
  text-align: center;
  width:100%;
  
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-family:  Helvetica, sans-serif;
  font-size: calc(3px + 2vmin);


  
 

}
.main div h3 {
  color: rgb(231, 159, 3);
}

@media (min-width: 600px){
  .main{
    width: 60%;
  }
 
}



.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 5vmin;
  pointer-events: none;
  
  
}

/* .App-header {
  background-color: #e08d2e;
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(175, 13, 148);
} */

.App-link {
  color: #8561fb;
}


.navbar button {
  margin: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: aliceblue;
}

.about-me {
  
  
}
.project {
  width: 30vmax;
  height: 40vmax;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
  overflow: hidden;
  white-space: initial;
 
  margin: 10px;
  padding: 10px;
}
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}




.project img {
  width: 30vmax;
  height: 20vmax;
}
.project p {
  text-align: justify;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  text-align: initial;
}

ol li{
  list-style-type: none;
  width: 60%;
  text-align: initial;
  
 
}

.education {
  
}
.why-coding {
  
}
.hobbies {
  
}
.art-gallery {
  
}
.cv {
  
}
.contact-me {
  
}

#profile-pic {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#profile-pic img {
  
    width: 30vw ;
    max-width: 300% ;
    height: auto ;
  
}

/* .react-card-flipper {
  width: 100%;
  height: 100%;
} */

@media (min-height: 300px) {
  .navbar  {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
  }
}

@media (max-width: 600px){
  .navbar button{
    color: white;
  }
 
}
.art-gallery img {
  width: 20vmax;
  height: 20vmax;
}
/* @media (min-width: 400px){
  .App div {
    width: 85%;
    margin: 100px;
  }
} */

.summary-component {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  /* zinc gradient */

  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

@media (min-width: 600px){
  .navigation{
    width: 60%;
  }
 
}



/* contact me component */
.contact-me {
  width: 60%;
  display: flex;
  flex-direction: column;
}

h1 #span-invitation{
  color:red;
}

.email-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* social media icons in contact me */
.social-media-icons-contact img {
  width: 20px;
  height: 20px;
}

/* summary component */
.summary-component {
  /* code from ui gradients website */
  /* deep space */
  /* background: #000000;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #434343, #000000);  Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #434343, #000000); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

  
  /*alternative gradient: midnight city */
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  color: white;
  padding: 3px;
}

#mw-logo{
  width: 30px;
  height: 30px;
}

.name-logo-job p{
  margin: 0;
  font-size: 8px;
  color: gold;
}

#summary-p {
  font-size: 15px;
  text-align: justify;
  margin: 20px;
}

#availability-p {
  text-align: justify;
  margin: 20px;
}

/* tech stack */
.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tech-stack img {
  width: 50px;
  height: 50px;
}

/* common service component */

.common-services h3{
  color: rgb(231, 159, 3);
}

.common-services ul {
  list-style: none;
  text-align: center;
}

/* testimonials section in main  */
.testimonials-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.work-experience {
  /* sun on the horizon gradient */
  background: #fceabb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 200px;
  height: 300px;

}

.testimonial {
  /* colors of the sky */
  background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  width: 200px;
  height: 300px;
  padding: 5px;

  font-size: 15px;
}

.quotes {
  font-size: 35px;
  color: goldenrod;
}
.referee {
  color: #414345;
  font-size: 25px;
}

/* footer component */

.footer img {
  width: 200px;
  height: 200px;
}
#email-pic {
  width: 40px;
  height: 40px;
}

